name: 'Action docs'
on:
  push:
    branches:
      - main
    pull_request:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        id: app
        with:
          app_id: ${{ secrets.FOREST_RELEASER_APP_ID }}
          app_base64_private_key: ${{ secrets.FOREST_RELEASER_APP_PRIVATE_KEY_BASE64 }}
          auth_type: installation
          org: philips-software

      - uses: actions/checkout@v3
        with:
          token: ${{ steps.app.outputs.token }}

      - uses: npalm/action-docs-action@v1.3.0

      - name: Update readme in the repository
        if: github.event_name != 'pull_request'
        uses: stefanzweifel/git-auto-commit-action@v4.16.0
        with:
          commit_message: "chore(ci): Updating readme"
          file_pattern: README.md
