name: 'Test action'
on:
  push:

jobs:
  test:
    if: github.repository == 'philips-software/app=token-action'
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # ratchet:actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: ./
        id: app
        with:
          app_id: ${{ secrets.FOREST_RELEASER_APP_ID }}
          app_base64_private_key: ${{ secrets.FOREST_RELEASER_APP_PRIVATE_KEY_BASE64 }}
          auth_type: installation
          org: philips-software
